.career-section {
  max-width: map-get($grid-breakpoints, 'xl') !important;  
  padding-top: 0;
  padding-bottom: 0.5rem;
  border: none;

  a {
    font-style: normal;
    color: $purple-lightest;

    &:hover {
      text-decoration: underline;
    }
  }

  .career-section-education,
  .career-section-conferences,
  .career-section-community {
    .row:first-child {
      background-color: rgba(4, 1, 5, $backdrop-opacity);
    }
  }

  .career-header {
    background: url('#{$image-path}/backgrounds/subtle-patterns-dust-scratches.png') repeat-x;
    background-color: $white;
    padding: 1rem;

    .career-header-title {
      text-transform: uppercase;
      color: $purple-darkest;
      padding-left: 1rem;
      margin-top: auto;
      margin-bottom: auto;
    }

    .career-icon {
      img {
        height: 40px;
      }
    }
  }

  .career-category {
    padding: 1rem 0 1rem 0;

    .explanation {
      .fa-brain,
      .fa-exclamation,
      .fa-map-marker-alt,
      .fa-calendar-alt,
      .fa-coffee {
        margin-right: 0.2rem;
        font-size: 0.5rem;
      }

      .conferences-title,
      .conferences-dates,
      .conferences-location {
        text-transform: capitalize;
      }
      
      .education-school,
      .conferences-title,
      .community-meetup,
      .community-title {
        font-size: 0.9rem;
      } 

      .education-program,
      .education-location,
      .education-completed,
      .education-clubs,
      .community-dates,
      .conferences-dates,
      .conferences-location {
        font-size: 0.8rem;
      }

      .education-logo,
      .community-logo,
      .conferences-logo {
        line-height: 1rem;
        max-width: 1rem;
        
        .fa-exclamation {
          margin-left: 0.05rem;
        }

        .fa-coffee {
          margin-left: -0.25rem;
        }
      }

      .career-category-conferences-wrapper,
      .career-category-education-wrapper,
      .career-category-community-wrapper {
        padding: 0;
      }

      @include media-breakpoint-up(xs) {
        .career-category-education:not(:last-child),
        .career-category-community:not(:last-child),
        .career-category-conferences:not(:last-child) {
          border-bottom: 0.05rem $white dotted;
          padding-bottom: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .career-category-lets-connect {
    @include impact-font();

    text-align: center;
    text-transform: uppercase;

    span {
      text-decoration: overline;
    }
    
    .fa-mug-hot {
      margin-left: 1.5rem;
    }

    @include media-breakpoint-up(xs) {
      font-size: 1.5rem;

      .fa-mug-hot {
        font-size: 2rem;
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: 2rem;

      .fa-mug-hot {
        font-size: 2.5rem;
      }
    }
  }

  .card-columns {
    column-count: 1;

    .card {
      background: none;
      margin-bottom: 1rem;
    }

    @include media-breakpoint-up(sm) {
      column-count: 2;

      .career-section-education,
      .career-section-community {
        padding-right: 1rem;
      }

      .career-section-conferences,
      .career-category-lets-connect {
        padding-left: 1rem;
      }
    }
  }
}
