.career-path-embed-wrapper {
  @include media-breakpoint-up(xs) {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  embed {
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(xs) {
      height: 450px;
    }

    @include media-breakpoint-up(sm) {
      height: 500px;
    }

    @include media-breakpoint-up(md) {
      height: 750px;
      margin-bottom: -8rem;
    }
  }
}
