#family-journey {
  @import "../../components/breadcrumbs";

  .content-wrapper {
    padding: 0;
  }

  .skyline {
    @include media-breakpoint-up(xs) {
      display: none;
      box-shadow: none;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      position: relative;
      transform-style: preserve-3d;
      backface-visibility: hidden;

      .step {
        display: block;
        position: absolute;
        top: 33%;
        left: 32%;
        font-size: 5rem;
        transform: translateZ(0);
        will-change: transform;

        .fa-layers {
          transform-style: preserve-3d;
          backface-visibility: hidden;
        }

        .fa-layers-text {
          @include impact-font();

          color: $purple-darkest;
          font-size: 2rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -60%);
          line-height: 1;
        }
      }
    }
  }

  .journey-row {
    @include media-breakpoint-up(xs) {
      padding: 1rem 2rem 1rem 1rem;
      background-color: inherit;
      margin-left: inherit;
    }

    @include media-breakpoint-up(lg) {
      @include box-shadow-all-sides();

      padding: 1rem;
      background-color: rgba(4, 1, 5, $backdrop-opacity);
      margin-left: 0.5rem;
    }

    .journey-wrapper {
      @include media-breakpoint-up(xs) {
        @include box-shadow-all-sides();

        padding: 1rem 1.5rem 1.5rem;
        background-color: rgba(4, 1, 5, $backdrop-opacity);
      }

      @include media-breakpoint-up(lg) {
        box-shadow: none;
        border: 0.2rem $purple-medium-dark solid;
        padding: 1rem;
      }

      .step {
        @include media-breakpoint-up(xs) {
          display: block;
          padding-top: 3rem;

          .fa-layers-text {
            @include impact-font();

            font-size: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            line-height: 1;
          }
        }

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      .city {
        @include media-breakpoint-up(xs) {
          @include impact-font();

          font-size: 2rem;
          text-transform: capitalize;
          padding-left: 0.3rem;
        }

        @include media-breakpoint-up(lg) {
          padding-left: 15px;
        }
      }
    }
  }

  .family-journey-chicago,
  .family-journey-boulder,
  .family-journey-nyc,
  .family-journey-pdx,
  .family-journey-lasvegas,
  .family-journey-tbd {
    color: $white;
    max-width: map-get($grid-breakpoints, "lg");

    @include media-breakpoint-up(xs) {
      background-size: cover;
      background-repeat: no-repeat;

      .fa-layers-text {
        color: $purple-darkest;
      }
    }

    .rotate-location {
      @include rotate(360);

      transition-duration: 5s;
    }
  }

  @import "family-journey-chicago";
  @import "family-journey-boulder";
  @import "family-journey-nyc";
  @import "family-journey-pdx";
  @import "family-journey-lasvegas";
  @import "family-journey-tbd";
}
