.family-journey-boulder {
  padding: 0 1rem 1rem 1rem;

  @include media-breakpoint-up(xs) {
    background: url('#{$image-path}/backgrounds/skyline-boulder.jpg') no-repeat fixed;
    background-position: right -140px bottom -140px;
    background-size: cover;
  }
}
