$purple-lightest: #ba4bdb;
$purple-medium-light: #84359c;
$purple-medium-dark: #441b51;
$purple-dark: #2d1135;
$purple-darkest: #040105;

$image-path: '../../assets/images/';

$grid-breakpoints: (
  xs: 0,
  minimium: 350px,
  transition: 450px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  maximum: 1000px,
  xl: 1200px
) !default;

$backdrop-opacity: .6;
