#contact {





  .personal-values-container-wrapper-row {

    .personal-data-help-graphic {
      > embed {
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(xs) {
          max-height: 300px;
          margin-left: -4rem;
        }
      }
    }

    .personal-data-help {
      @include impact-font();

      text-align: center;
      padding: 1rem 0;
      text-transform: uppercase;
      transform: scaleX(1);
    }

    .personal-values-container-right {
      border-right: 0.1rem $white solid;
      height: 5rem;

      div {
        border-bottom: 0.1rem $white solid;
        height: 50%;
      }

      &::after {
        content: '';
      }
    }

    .personal-values-container-left {
      border-left: 0.1rem $white solid;

      @include media-breakpoint-up(xs) {
        height: 0;
      }

      div {
        border-bottom: 0.1rem $white solid;
        height: 50%;
      }

      &::before {
        content: '';
      }
    }

    .personal-values-container-wrapper {
      > div {
        padding: 0;
        margin: 0;
      }
    }
  }








}
