#contact {
  .contact-wrapper-container-row {
    @include media-breakpoint-up(xs) {
      padding: 6rem 0 1rem 0;
    }

    @include media-breakpoint-up(md) {
      padding: 7rem 0 2rem 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 7rem 0 3rem 0;
    }

    .header-wrapper {
      @include primary-font();
      text-align: center;

      .header {
        padding-right: 0.5rem;
      }

      .em-svg {
        margin-right: 0.5rem;
      }

      @include media-breakpoint-up(xs) {
        line-height: 2.5rem;
        font-size: 1.2rem;
      }

      @include media-breakpoint-up(transition) {
        line-height: 3.2rem;
        font-size: 1.5rem;
      }
    }

    p {
      @include secondary-font();

      @include media-breakpoint-up(xs) {
        font-size: 0.9rem;
      }

      a {
        font-style: normal;
        color: $purple-lightest;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .contact-wrapper-container {
      background-color: rgba(4, 1, 5, $backdrop-opacity);
      padding: 1.5rem;

      .contact-wrapper {
        border-top: 0.2rem $purple-medium-dark solid;
        border-bottom: 0.2rem $purple-medium-dark solid;
        padding: 0 1rem;
      }
    }
  }

  @import "contact/values";
}
