#index {
  .content-wrapper-body {
    padding: 5.5rem 0 2rem 0;
  }

  .personal-data-wrapper-left-stack,
  .personal-data-wrapper-right-stack {
    text-align: center;
    padding: 0;
    margin: 0;

    .row {
      margin: 0;
    }
  }

  .personal-data-wrapper-left-stack {
    flex: 1;

    > .personal-data-wrapper {
      &:first-child {
        border-top: 0.1rem $white solid;
        border-right: 0.1rem $white solid;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-top: 0.1rem $white solid;
        border-right: 0.1rem $white solid;
       }
      &:last-child {
        border-top: 0.1rem $white solid;
        border-right: 0.1rem $white solid;
        border-bottom: 0.1rem $white solid;
      }
    }
  }

  .personal-data-wrapper-center-stack {
    flex: 5;
  }

  .personal-data-wrapper-right-stack {
    flex: 1;

    > .personal-data-wrapper {
      &:first-child {
        border-top: 0.1rem $white solid;
        border-left: 0.1rem $white solid;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-top: 0.1rem $white solid;
        border-left: 0.1rem $white solid;
       }
      &:last-child {
        border-top: 0.1rem $white solid;
        border-left: 0.1rem $white solid;
        border-bottom: 0.1rem $white solid;
      }
    }
  }

  .personal-data-wrapper {
    padding: 1rem;
    font-size: 2rem;
  }
}
