#index {
  .content-wrapper-body {
    @include media-breakpoint-up(xs) {
      padding: 6rem 0 2rem 0;
    }

    @include media-breakpoint-up(transition) {
      padding: 5.5rem 0 3rem 0;
    }

    .row {
      &:first-child {
        margin-left: 0;
        margin-right: 0;
      }

      &:nth-child(3) {
        padding: 0 0 1rem 0;
      }
    }
  }

  .content-wrapper-footer {
    padding: 0;
  }

  .personal-data-wrapper {
    a {
      color: $white;
      display: block;
      background-color: $purple-dark;
      padding: 1rem;
      font-size: 2rem;

      &:hover {
        color: $white;
        background-color: $purple-medium-dark;
        box-shadow: 0 0 1rem 0 $purple-medium-dark;
      }
    }
  }

  .personal-data-wrapper-left-stack,
  .personal-data-wrapper-right-stack {
    text-align: center;
    padding: 0;
    margin: 0;

    .row {
      margin: 0;
    }
  }

  .personal-data-wrapper-left-stack {
    flex: 1;
    min-width: 70px;

    > .personal-data-wrapper {
      &:first-child {
          a {
          border-top: 0.15rem $purple-medium-dark solid;
          border-right: 0.15rem $purple-medium-dark solid;
          border-radius: 0 1rem 0 0;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        a {
          border-top: 0.15rem $purple-medium-dark solid;
          border-right: 0.15rem $purple-medium-dark solid;
        }
       }

      &:last-child {
        a {
          border-top: 0.15rem $purple-medium-dark solid;
          border-right: 0.15rem $purple-medium-dark solid;
          border-bottom: 0.15rem $purple-medium-dark solid;
          border-radius: 0 0 1rem 0;
        }
      }
    }
  }

  .personal-data-wrapper-center-stack {
    flex: 5;

    @include media-breakpoint-up(sm) {
      padding: 1rem 2rem 0 2rem;
    }

    .personal-data-avatar {
      img {
        text-align: center;
        border: 0.25rem $purple-darkest solid;
        box-shadow: 0 0 2rem 0.25rem $purple-darkest;

        @include media-breakpoint-up(xs) {
          max-width: 175px;
        }

        @include media-breakpoint-up(transition) {
          max-width: 245px;
        }

        @include media-breakpoint-up(sm) {
          max-width: 300px;
        }
      }
    }

    .personal-data-location,
    .personal-data-city {
      text-align: center;

      @include media-breakpoint-up(xs) {
        font-size: 0.9rem;
      }

      @include media-breakpoint-up(sm) {
        font-size: 1.2rem;
      }
    }

    .personal-data-location {
      padding-top: 0.5rem;

      i {
        margin-right: 0.4rem;
        vertical-align: baseline;

        @include media-breakpoint-up(xs) {
          font-size: 0.5rem;
        }

        @include media-breakpoint-up(sm) {
          font-size: 0.7rem;
        }
      }
    }

    .personal-data-city {
      padding-top: 0.1rem;
    }
  }

  .personal-data-wrapper-right-stack {
    flex: 1;
    min-width: 70px;

    > .personal-data-wrapper {
      &:first-child {
        a {
          border-top: 0.15rem $purple-medium-dark solid;
          border-left: 0.15rem $purple-medium-dark solid;
          border-radius: 1rem 0 0 0;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        a {
          border-top: 0.15rem $purple-medium-dark solid;
          border-left: 0.15rem $purple-medium-dark solid;
        }
       }

      &:last-child {
        a {
          border-top: 0.15rem $purple-medium-dark solid;
          border-left: 0.15rem $purple-medium-dark solid;
          border-bottom: 0.15rem $purple-medium-dark solid;
          border-radius: 0 0 0 1rem;
        }
      }
    }
  }

  .personal-data-slogan {
  	position: relative;
  	background: $purple-darkest;
    box-shadow: 0 0 0.25rem 0.25rem $purple-darkest;
  	border-radius: 1rem;
    color: $white;
    padding: 0.2rem;

    div {
      border: 0.1rem solid $purple-medium-dark;
      padding: 1rem;
      border-radius: 1rem;

      @include media-breakpoint-up(xs) {
        font-size: 0.9rem;
      }

      @include media-breakpoint-up(sm) {
        font-size: 1.2rem;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 1.5rem solid transparent;
        border-bottom-color: $purple-medium-dark;
        border-top: 0;
        margin-left: -1.5rem;
        margin-top: -1.2rem;
        z-index: $zindex-dropdown;
      }
    }

    &::after {
    	content: '';
    	position: absolute;
    	top: 0;
    	left: 50%;
    	width: 0;
    	height: 0;
    	border: 2rem solid transparent;
    	border-bottom-color: $purple-darkest;
    	border-top: 0;
    	margin-left: -2rem;
    	margin-top: -2rem;
    }
  }


//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//-------------------------------------------------------------------

  .personal-data-quotes-banner-wrapper-row {
    @include media-breakpoint-up(xs) {
      max-height: 13rem;
    }

    @include media-breakpoint-up(lg) {
      max-height: 14rem;
    }

    @include media-breakpoint-up(xxl) {
      max-height: 15rem;
    }

    @include media-breakpoint-up(xxxl) {
      margin-bottom: -7rem;
    }

    .personal-data-quotes-banner {
      @include secondary-font();

      padding-bottom: 5rem;
      font-weight: bold;
      font-size: 1.3rem;
      text-align: right;
    }

    .personal-data-quotes-container {
      box-shadow: 0 0 0.25rem 0.25rem $purple-darkest;
      background-color: rgba(4, 1, 5, 0.6);

      @include media-breakpoint-up(xs) {
        padding: 0.5rem 0;
      }

      @include media-breakpoint-up(lg) {
        padding: 1rem;
      }

      .personal-data-quotes-wrapper {
        border-top: 0.2rem $purple-medium-dark solid;
        border-bottom: 0.2rem $purple-medium-dark solid;
        padding: 0 1rem;

        @include media-breakpoint-up(xs) {
          min-height: 15rem;
        }

        @include media-breakpoint-up(transition) {
          min-height: 12rem;
        }

        @include media-breakpoint-up(sm) {
          min-height: 10rem;
        }

        @include media-breakpoint-up(lg) {
          border-left: 0.2rem $purple-medium-dark solid;
          padding-left: 0;
          margin-left: 0;
        }

        @include media-breakpoint-up(xl) {
          border-right: 0.2rem $purple-medium-dark solid;
          padding-right: 0;
          margin-right: 0;
        }

        .progress {
          background-color: $gray-900;
          max-height: 0.3rem;

          @include media-breakpoint-up(lg) {
            margin-left: 0;
            padding-left: 0;
          }
        }

        .progress-bar {
          background-color: $purple-medium-dark;
        }

        .personal-data-quotes {
          @include media-breakpoint-up(xs) {
            padding: 1rem 2rem 1.8rem 3.5rem;
            min-height: 15rem;
            margin-left: auto;
            margin-right: auto;
          }

          @include media-breakpoint-up(transition) {
            min-height: 12rem;
          }

          @include media-breakpoint-up(sm) {
            min-height: 10rem;
          }

          @include media-breakpoint-up(lg) {
            padding: 1rem 2rem 1.8rem 0;
          }

          @include media-breakpoint-up(xl) {
            padding: 1rem 2rem 1.8rem 2rem;
          }

          span {
            display: block;
            text-align: left;

            @include media-breakpoint-up(xs) {
              font-size: 0.9rem;
            }
          }

          #personal-data-quotes-text {
            font-style: italic;
            padding-bottom: 1rem;

            &::before {
              content: '\201C';
              margin-right: 4px;
              margin-left: -8px;
              font-size: 1.2rem;
              font-weight: bold;
            }

            &::after {
              content: '\201D';
              margin-left: 4px;
              margin-right: -8px;
              font-size: 1.2rem;
              font-weight: bold;
            }
          }

          #personal-data-quotes-text-read-more {
            font-style: normal;
            color: $purple-lightest;
          }

          #personal-data-quotes-more-text {
            display: none;
          }

          #personal-data-quotes-author {
            &::before {
              content: "\2014\00a0\00a0";
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .personal-values-container-wrapper-row {
    @include media-breakpoint-up(xs) {
      max-height: 23rem;
    }

    @include media-breakpoint-up(minimium) {
      max-height: 26rem;
    }

    @include media-breakpoint-up(sm) {
      max-height: 30rem;
    }

    @include media-breakpoint-up(lg) {
      max-height: 25rem;
    }

    .personal-data-help-graphic {
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-up(xs) {
        #connect-portrait {
          display: block;
        }

        #connect-portrait-pointer {
          display: none;
        }
      }

      @include media-breakpoint-up(lg) {
        #connect-portrait {
          display: none;
        }

        #connect-portrait-pointer {
          display: block;
        }
      }

      > embed {
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(xs) {
          max-height: 250px;
        }

        @include media-breakpoint-up(minimium) {
          max-height: 300px;
        }

        @include media-breakpoint-up(sm) {
          max-height: 400px;
        }
      }
    }
  }

  .personal-data-help,
  .personal-data-connect {
    @include impact-font();

    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    transform: scaleX(1);

    @include media-breakpoint-up(xs) {
      font-size: 1.1rem;
    }

    @include media-breakpoint-up(transition) {
      font-size: 1.4rem;
    }
  }

  .personal-values-container-right-first,
  .personal-values-container-right-second,
  .personal-connect-container-right-first,
  .personal-connect-container-right-second {
    div {
      border-bottom: 0.1rem $white solid;
      height: 50%;
    }

    &::after {
      content: '';
    }
  }

  .personal-connect-container-right-second,
  .personal-values-container-right-second {
    border-right: 0.1rem $white solid;
    height: 5rem;
  }

  .personal-connect-container-left,
  .personal-values-container-left {
    border-left: 0.1rem $white solid;
    height: 5rem;

    div {
      border-bottom: 0.1rem $white solid;
      height: 50%;
    }

    &::before {
      content: '';
    }
  }

  .personal-connect-container-wrapper-row,
  .personal-values-container-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 0;
    }

    @include media-breakpoint-up(sm) {
      padding-top: 1rem;
    }

    > div {
      padding: 0;
      margin: 0;
    }
  }
}
