#index {
  .personal-data-wrapper-row {
    @include media-breakpoint-up(xs) {
      padding: 6rem 0 1rem 0;
    }

    @include media-breakpoint-up(md) {
      .personal-data-wrapper-container {
        background-color: rgba(4, 1, 5, 0.6);
        padding: 2rem 2.5rem 2rem 2.5rem;
      }
    }

    @import "index/social-left-right";
    @import "index/social-center";
  }

  @import "index/quotes";
  @import "index/values";
}
