---
id: career-path
layout: page
---

div[class="container d-flex flex-column flex-fill"]
  div[class="row flex-fill"]
    div[class="col-12 align-contents-center"]
      |TBD

  div[class="row trait-container"]
    div[class="col-12 d-flex align-contents-center career-path-embed-wrapper"]
      embed[src="#{image_path('backgrounds/career-path.svg')}"]
