.form-wrapper {
  .form-control {
    border-radius: 0;

    &:hover { 
      outline: $purple-medium-dark 0.3rem solid;
    }
  }
  
  .invalid-feedback {
    color: $purple-lightest;
  }

  .btn-primary {
    background-color: $purple-dark;
    border-color: $purple-medium-dark;
    border-radius: 0;
    font-size: 0.9rem;
    padding: 1rem;
    line-height: 1.1rem;

    &:hover {
      background-color: $purple-medium-dark;
      font-weight: bold;
      font-size: 1rem;
    }

    &:focus {
      @include box-shadow($blur: 0.2rem, $color: rgba(68, 27, 81, $backdrop-opacity));
    }
  }
}
