#index {
  .personal-data-wrapper-row {
    padding: 0;

    .personal-data-wrapper-container {
      @include media-breakpoint-up(md) {
        background-color: rgba(4, 1, 5, $backdrop-opacity);
        padding: 0 0 1rem 0;

        .row {
          margin: 0;
        }
      }

      @include media-breakpoint-up(xl) {
        max-width: 800px;
      }
    }

    @import "social-left-right";
    @import "social-center";
    @import "social-slogan";
    @import "social-connect";
  }

  @import "quotes";
  @import "values";

  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    @include media-breakpoint-up(xs) {
      visibility: hidden;
    }

    @include media-breakpoint-up(lg) {
      visibility: visible;
    }
  }

  @include media-breakpoint-up(xs) {
    header {
      visibility: visible;
    }
  }

  @include media-breakpoint-up(lg) {
    header {
      visibility: hidden;
    }
  }
}
