.personal-data-quotes-banner-wrapper-row {
  @include media-breakpoint-up(xs) {
    padding-top: 1rem;
    display: block;
    visibility: visible;
  }

  @include media-breakpoint-up(lg) {
    display: none;
    visibility: hidden;
  }

  .personal-data-quotes-banner {
    @include secondary-font();

    padding-bottom: 5rem;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: right;
  }

  .personal-data-quotes-container {
    box-shadow: 0 0 0.25rem 0.25rem $purple-darkest;
    background-color: rgba(4, 1, 5, $backdrop-opacity);

    @include media-breakpoint-up(xs) {
      padding: 0.5rem 0;
    }

    .personal-data-quotes-wrapper {
      border-top: 0.2rem $purple-medium-dark solid;
      border-bottom: 0.2rem $purple-medium-dark solid;
      padding: 0 1rem;

      @include media-breakpoint-up(xs) {
        min-height: 15rem;
      }

      @include media-breakpoint-up(transition) {
        min-height: 12rem;
      }

      .progress {
        background-color: $gray-900;
        max-height: 0.3rem;

        @include media-breakpoint-up(xs) {
          padding-left: 0;
        }
      }

      .progress-bar {
        background-color: $purple-medium-dark;
      }

      .personal-data-quotes {
        @include media-breakpoint-up(xs) {
          padding: 1rem 2rem 1.8rem 3.5rem;
          min-height: 15rem;
          margin-left: auto;
          margin-right: auto;
        }

        @include media-breakpoint-up(transition) {
          min-height: 12rem;
        }

        @include media-breakpoint-up(sm) {
          min-height: 10rem;
        }

        span {
          display: block;
          text-align: left;

          @include media-breakpoint-up(xs) {
            font-size: 0.9rem;
          }
        }

        #personal-data-quotes-text {
          font-style: italic;
          padding-bottom: 1rem;

          &::before {
            content: '\201C';
            margin-right: 4px;
            margin-left: -8px;
            font-size: 1.2rem;
            font-weight: bold;
          }

          &::after {
            content: '\201D';
            margin-left: 4px;
            margin-right: -8px;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }

        #personal-data-quotes-text-read-more {
          font-style: normal;
          color: $purple-lightest;
        }

        #personal-data-quotes-more-text {
          display: none;
        }

        #personal-data-quotes-author {
          &::before {
            content: "\2014\00a0\00a0";
            font-weight: bold;
          }
        }
      }
    }
  }
}
