.personal-data-wrapper-center-stack {
  flex: 5;

  @include media-breakpoint-up(xl) {
    max-width: 800px;
  }

  @include media-breakpoint-up(xs) {
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  @include media-breakpoint-up(sm) {
    padding: 1rem 2rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 2rem 2rem 1rem;
  }

  .personal-data-avatar {
    @include media-breakpoint-up(xs) {
      visibility: visible;
      display: block;
    }

    @include media-breakpoint-up(lg) {
      visibility: hidden;
      display: none;
    }

    img {
      @include box-shadow-all-sides();

      text-align: center;
      border: 0.25rem $purple-darkest solid;

      @include media-breakpoint-up(xs) {
        max-width: 175px;
      }

      @include media-breakpoint-up(transition) {
        max-width: 245px;
      }

      @include media-breakpoint-up(sm) {
        max-width: 300px;
      }

      @include media-breakpoint-up(xxxl) {
        max-width: 350px;
      }
    }
  }

  .personal-data-signature {
    @include primary-font();

    text-align: center;
    line-height: 3rem;
    padding: 0;

    .prefix {
      padding-right: 0.8rem;
      font-size: 1.5rem;
      vertical-align: top;
    }

    .username {
      font-size: 3rem;
      padding-right: 0.8rem;
    }

    i {
      font-size: 1rem;
      vertical-align: super;
    }

    @include media-breakpoint-up(xs) {
      visibility: hidden;
      display: none;
    }

    @include media-breakpoint-up(lg) {
      visibility: visible;
      display: block;
    }
  }

  .personal-data-city-location-wrapper {
    text-align: center;

    @include media-breakpoint-up(transition) {
      padding-top: 0.5rem;
    }

    .personal-data-location,
    .personal-data-city {
      @include media-breakpoint-up(xs) {
        display: block;
        padding-top: 0.5rem;
        font-size: 0.9rem;
      }

      @include media-breakpoint-up(transition) {
        padding-left: 0;
        padding-right: 0;
      }

      @include media-breakpoint-up(sm) {
        font-size: 1.2rem;
      }

      @include media-breakpoint-up(lg) {
        display: inline;
      }

      .em-heartpulse,
      .em-round_pushpin {
        margin-right: 0.5rem;

        @include media-breakpoint-up(xs) {
          font-size: 0.5rem;
          margin-left: 0;
        }

        @include media-breakpoint-up(sm) {
          font-size: 0.7rem;
        }
      }

      .em-heartpulse {
        @include media-breakpoint-up(lg) {
          margin-left: 0.5rem;
        }
      }
    }

    .personal-data-location {
      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }

    .personal-data-city {
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }
  }
}
