.personal-values-container-wrapper-row {
  @include media-breakpoint-up(xs) {
    padding-top: 1rem;
    display: block;
    visibility: visible;
  }

  @include media-breakpoint-up(lg) {
    display: none;
    visibility: hidden;
  }

  .personal-data-help-graphic {
    > embed {
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-up(xs) {
        max-height: 225px;
      }

      @include media-breakpoint-up(sm) {
        max-height: 400px;
      }
    }
  }

  .personal-data-help {
    @include impact-font();

    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
    transform: scaleX(1);

    @include media-breakpoint-up(xs) {
      font-size: 1.1rem;
    }

    @include media-breakpoint-up(transition) {
      font-size: 1.4rem;
    }
  }

  .personal-values-container-right {
    border-right: 0.1rem $white solid;
    height: 5rem;

    div {
      border-bottom: 0.1rem $white solid;
      height: 50%;
    }

    &::after {
      content: '';
    }
  }

  .personal-values-container-left {
    border-left: 0.1rem $white solid;
    height: 5rem;

    div {
      border-bottom: 0.1rem $white solid;
      height: 50%;
    }

    &::before {
      content: '';
    }
  }

  .personal-values-container-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 0;
    }

    @include media-breakpoint-up(sm) {
      padding-top: 1rem;
    }

    > div {
      padding: 0;
      margin: 0;
    }
  }
}
