.personal-values-container-wrapper-row {
  @include media-breakpoint-up(xs) {
    max-height: 24rem;
    padding-top: 1rem;
  }

  @include media-breakpoint-up(minimium) {
    max-height: 26rem;
  }

  @include media-breakpoint-up(sm) {
    max-height: 30rem;
  }

  @include media-breakpoint-up(lg) {
    max-height: 25rem;
  }

  .personal-data-help-graphic {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(xs) {
      #connect-portrait {
        display: block;
      }

      #connect-portrait-pointer {
        display: none;
      }
    }

    @include media-breakpoint-up(lg) {
      #connect-portrait {
        display: none;
      }

      #connect-portrait-pointer {
        display: block;
      }
    }

    > embed {
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-up(xs) {
        max-height: 250px;
      }

      @include media-breakpoint-up(minimium) {
        max-height: 300px;
      }

      @include media-breakpoint-up(sm) {
        max-height: 400px;
      }
    }
  }
}

.personal-data-help {
  @include impact-font();

  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  transform: scaleX(1);

  @include media-breakpoint-up(xs) {
    font-size: 1.1rem;
  }

  @include media-breakpoint-up(transition) {
    font-size: 1.4rem;
  }
}

.personal-values-container-right-first,
.personal-values-container-right-second {
  div {
    border-bottom: 0.1rem $white solid;
    height: 50%;
  }

  &::after {
    content: '';
  }
}

.personal-values-container-right-second {
  border-right: 0.1rem $white solid;
  height: 5rem;
}

.personal-values-container-left {
  border-left: 0.1rem $white solid;
  height: 5rem;

  div {
    border-bottom: 0.1rem $white solid;
    height: 50%;
  }

  &::before {
    content: '';
  }
}

.personal-values-container-wrapper {
  @include media-breakpoint-up(xs) {
    padding: 0;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 1rem;
  }

  > div {
    padding: 0;
    margin: 0;
  }
}
