.content-wrapper-top {
  background-color: $purple-darkest;
  box-shadow: 0 0 0.25rem 0.25rem $purple-darkest;
  font-size: 1.25rem;
  text-align: center;

  a.home-link,
  a.home-link:visited,
  a.home-link:active,
  a.home-link:hover {
    color: $white;
    text-decoration: none;

    > div {
      padding: 1rem 0;
    }

    > i {
      font-size: 0.85rem;
      vertical-align: inherit;
    }
  }

  .prefix {
    padding-right: 0.5rem;
    vertical-align: text-top;
    line-height: 1.5rem;
  }

  .username {
    padding-right: 0.5rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    @include impact-font();
  }
}
