.content-wrapper {
  background: url('#{$image-path}/backgrounds/hough-collage.jpg') no-repeat 50% 50% fixed;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}
