footer {
  @include box-shadow();
  @include drop-shadow();

  color: $white;
  background-color: $purple-darkest;
  padding: 0.5rem 0;

  .row {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    text-align: center;

    a {
      color: $white;
      text-decoration: underline;
    }

    @include media-breakpoint-up(xs) {
      padding-bottom: 0.5rem;

      span {
        display: block;
        padding-bottom: 0.5rem;
      }
    }

    @include media-breakpoint-up(sm) {
      border-top: 0.15rem solid $purple-medium-dark;
      padding-top: 1rem;
      padding-bottom: 1rem;

      span {
        display: initial;
        padding-bottom: 0;
      }

      span:first-child {
        padding-right: 1rem;

        &::after {
          content: '|';
          font-weight: bold;
          padding-left: 1rem;
        }
      }

      @include media-breakpoint-up(lg) {
        border: none;
      }
    }
  }
}
