footer {
  color: $white;
  background-color: $purple-darkest;

  .row {
    @include box-shadow();

    font-size: 0.9rem;
    padding: 1.25rem 0;

    a {
      color: $white;
      text-decoration: underline;
    }

    .navbar-company-disclaimer {
      border-left: 0.05rem $white solid;
      padding-left: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}
