html,
body {
  padding: 0 !important;
  margin: 0 !important;
  height: 100% !important;
  min-width: map-get($grid-breakpoints, 'minimium') !important;
  min-height: 100% !important;
  background-attachment: fixed;
  background-size: cover;

  @include primary-font();

  color: white;
}
