.navbar {
  @include box-shadow();

  color: $white;
  background-color: $purple-darkest;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;

  .navbar-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 0.5rem 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 0.5rem 15px;
    }

    @include media-breakpoint-up(maximum) {
      max-width: map-get($grid-breakpoints, "xl");
    }

    .navbar-toggler-wrapper {
      .navbar-title {
        a {
          color: $white;
          text-decoration: none;

          i {
            font-size: 0.85rem;
            vertical-align: inherit;
          }
        }

        .prefix {
          @include primary-font();

          padding-right: 0.5rem;
          vertical-align: bottom;
          line-height: 2.5rem;
        }

        .username {
          @include impact-font();

          padding-right: 0.5rem;
          font-size: 1.25rem;
          line-height: 2.5rem;
        }

        @include media-breakpoint-up(xs) {
          text-align: left;
        }

        @include media-breakpoint-up(sm) {
          text-align: center;
        }

        @include media-breakpoint-up(lg) {
          text-align: left;
        }
      }

      .navbar-button {
        @include media-breakpoint-up(xs) {
          padding: 0;
        }

        @include media-breakpoint-up(transition) {
          text-align: center;
        }

        .navbar-toggler {
          color: $white;
          font-size: 1.25rem;
          line-height: 1;
          background-color: transparent;
          border: 1px solid $white;
          border-radius: 0.25rem;
          cursor: pointer;
          outline: none;
          padding: 0.5rem 1.25rem;
        }
      }

      @include media-breakpoint-up(xs) {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 5px;
      }

      @include media-breakpoint-up(transition) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    .navbar-nav-item-wrapper {
      padding-right: 0;
      padding-left: 0;

      .navbar-nav {
        border: none;

        li {
          @include media-breakpoint-up(xs) {
            &:first-child {
              border-top: 0.15rem solid $purple-medium-dark;
            }

            &:not(:last-child) {
              border-bottom: 0.15rem solid $purple-medium-dark;

              @include media-breakpoint-up(sm) {
                border-right: 0.15rem solid $purple-medium-dark;
              }
            }
          }

          @include media-breakpoint-up(sm) {
            &:not(:first-child) {
              border-top: 0.15rem solid $purple-medium-dark;
            }

            &:last-child {
              border-bottom: 0.15rem solid $purple-medium-dark;
            }
          }

          @include media-breakpoint-up(lg) {
            &:first-child,
            &:last-child,
            &:not(:first-child),
            &:not(:last-child) {
              border: none;
            }
          }

          &:hover {
            background-color: $purple-medium-dark;
            font-weight: bold;
            color: $white;

            @include media-breakpoint-up(sm) {
              @include box-shadow($color: $purple-medium-dark);
            }
          }

          .nav-icon {
            @include media-breakpoint-up(xs) {
              margin-left: 0.2rem;
            }
          }

          .nav-link {
            @include secondary-font();

            color: $gray-300;
            padding: 0;

            &:hover {
              color: $white;
              font-weight: bold;
            }

            @include media-breakpoint-up(xs) {
              span {
                display: inline;
              }

              .nav-button {
                border-right: 0.15rem solid $purple-medium-dark;
                padding: 1rem 1rem 1rem 1.5rem;
                margin-right: 1rem;
                display: inline-block;
                min-width: 75px;
                text-align: center;
              }
            }

            @include media-breakpoint-up(sm) {
              font-size: 1.2rem;
              padding: 0.9rem 0.5rem;

              .nav-button {
                border-right: none;
                padding: initial;
                margin-right: initial;
                display: block;
                min-width: initial;
              }

              .nav-description {
                display: block;
                font-size: 1rem;
              }
            }

            @include media-breakpoint-up(lg) {
              padding: 0.5rem;
            }
          }

          @include media-breakpoint-up(xs) {
            text-align: left;
          }

          @include media-breakpoint-up(sm) {
            text-align: center;
          }
        }

        li.active {
          background-color: $purple-medium-light;
          font-weight: bold;
          color: $white;

          @include media-breakpoint-up(sm) {
            @include box-shadow($color: $purple-medium-dark);
          }
        }
      }
    }
  }
}
