.navbar {
  min-width: map-get($grid-breakpoints, 'minimium') !important;
  box-shadow: 0 0 0.25rem 0.25rem $purple-darkest;
  @include primary-font();

  .navbar-toggler {
    color: $white;
    border: none;
    border-radius: 0;
    padding: 0.25rem 0;

    button {
      color: $white;
      font-size: 1.25rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid $white;
      border-radius: .25rem;
      cursor: pointer;
      outline: none;
      @include media-breakpoint-up(xs) {
        padding: .50rem 1rem;
      }
      @include media-breakpoint-up(transition) {
        padding: .75rem 1.25rem;
      }
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }

    .navbar-title {
      color: $white;
      @include secondary-font();

      @include media-breakpoint-up(xs) {
        line-height: 2.5rem;
        font-size: 1.20rem;
      }
      @include media-breakpoint-up(transition) {
        line-height: 3.2rem;
        font-size: 1.5rem;
      }
      @include media-breakpoint-up(lg) {
        line-height: inherit;
        text-align: right;
        white-space: nowrap;
        padding-top: 1rem;
      }
    }

    @include media-breakpoint-up(xs) {
      display: flex;
    }
    @include media-breakpoint-up(sm) {
      &:not(:disabled) {
        cursor: default;
      }
    }
  }

  .navbar-nav-item-wrapper {
    padding-right: 0;
    padding-left: 0;

    .navbar-nav {
      border: none;

      li {
        &:hover {
          box-shadow: 0 0 0.25rem 0.25rem $purple-medium-dark;
          background-color: $purple-medium-dark;
          color: $white;
          @include media-breakpoint-up(sm) {
            box-shadow: 0 0 1rem 0 $purple-medium-dark;
          }
          @include media-breakpoint-up(lg) {
            margin-top: -1rem;
            border-radius: 1.5rem 1.5rem 0 0;
            margin-bottom: -1rem;
            padding-top: 1rem;
          }
        }

        .nav-icon {
          margin-right: 0.50rem;
        }
        @include media-breakpoint-up(sm) {
          .nav-icon {
            margin-right: 0;
          }
        }

        .nav-link {
          padding: 1.25rem 1rem;

          &:hover {
            color: $white;
          }
          @include media-breakpoint-up(xs) {
            span {
              display: inline;
            }
          }
          @include media-breakpoint-up(sm) {
            font-size: 1.5rem;
            padding: 2rem;

            span {
              display: none;
            }
          }
        }

        @include media-breakpoint-up(xs) {
          text-align: left;
        }
        @include media-breakpoint-up(sm) {
          text-align: center;

        }
      }
      @include media-breakpoint-down(sm) {
        border-top: 0.15rem solid $purple-medium-dark;
        margin-top: 0.75rem;
      }
      @include media-breakpoint-up(sm) {
        border-top: 0;
        margin-top: 0;
        align-items: stretch;
        justify-content: space-around;
      }
      @include media-breakpoint-up(md) {
        max-width: none;
      }
      @include media-breakpoint-up(lg) {
        max-width: map-get($grid-breakpoints, "lg");
      }
      @include media-breakpoint-up(xl) {
        max-width: map-get($grid-breakpoints, "xl");
      }
    }
  }

  .navbar-header-wrapper {
    @include media-breakpoint-up(sm) {
      border-bottom: 0.15rem solid $purple-medium-dark;
    }
    @include media-breakpoint-up(lg) {
      border-bottom: 0;
      max-width: 375px;
    }
  }

  .container {
    @include media-breakpoint-up(sm) {
      margin: 0;
      max-width: inherit;
    }
    @include media-breakpoint-up(md) {
      margin: auto;
      max-width: none;
      padding: 0;
    }
    @include media-breakpoint-up(xl) {
      max-width: map-get($grid-breakpoints, "lg");
    }
  }

  .navbar-description-wrapper {
    color: $gray-600;
    text-align: right;

    @include media-breakpoint-up(xs) {
      display: none;

      .fa-arrow-circle-down {
        display: inline;
      }
      .fa-arrow-circle-right{
        display: none;
      }
    }
    @include media-breakpoint-up(sm) {
      display: block;
      font-size: 1rem;
      line-height: 3.8rem;
      min-height: 3.8rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 0.75rem;
      padding-top: 0.50rem;
      line-height: 1.5rem;
      min-height: 2rem;

      .fa-arrow-circle-down {
        display: none;
      }
      .fa-arrow-circle-right{
        display: inline;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .navbar-toggler,
    .navbar-nav {
      margin: auto;
      max-width: map-get($grid-breakpoints, "maximum");
    }
  }
  @include media-breakpoint-up(sm) {
    padding: 0.5rem 0 0 0;
    margin-bottom: 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}
