.navbar {
  min-width: map-get($grid-breakpoints, 'minimium') !important;
  padding: 0.5rem 0;

  .navbar-header {
    width: 100%;
    padding: 0 1rem;
    color: white;
    border: none;

    .navbar-brand {
      line-height: 1.75rem;
    }

    .navbar-toggler {
      color: $white;
    }

    > button {
      outline: none;
    }
  }

  .navbar-nav-wrapper {
    margin-top: 0.50rem;

    .nav-item {
      width: 100%;
      padding: 0 1rem;

      &:hover {
        background-color: $purple-medium-dark;
      }

      a:hover {
        color: $white;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .navbar-nav-wrapper {
      border-top: 0.15rem solid $purple-dark;
    }

    .navbar-brand {
      white-space: normal;
      max-width: 150px;
    }
  }
  @include media-breakpoint-up(sm) {
    .navbar-nav-wrapper {
      border-top: none;
    }
  }
  @include media-breakpoint-up(minimium) {
    .navbar-brand {
      white-space: wrap;
      max-width: inherit;
    }
  }
}
