#working-together {
  @import "../../components/breadcrumbs";

  .breadcrumbs {
    .row {
      max-width: map-get($grid-breakpoints, "xl");
    }
  }
  
  .content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  @import "venn-container";
  @import "trait-container";
}
