.working-together-embed-wrapper {
  @include media-breakpoint-up(xs) {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    padding-bottom: 5rem;
  }

  embed {
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(xs) {
      max-height: 400px;
    }

    @include media-breakpoint-up(sm) {
      max-height: 500px;
    }
  }
}
